<div id="tagline" class="quote">
  "People talk about getting used to a new editor, but over time, it is
  precisely the opposite that should happen - the editor should get used
  to us."
  -&nbsp;<a href="http://blog.vivekhaldar.com/post/31970017734/new-frontiers-in-text-editing">Vivek&nbsp;Haldar</a>
</div>

<div class="post">
  <div id="content"></div>

  <div class="byline">
    <a href="" id="disqus-comments" class="right">Comments and Reactions</a>
    <a href="" id="timestamp"></a>
  </div>
</div>

<script type="text/javascript">
  var disqus_shortname = 'whattheemacsd';

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
