<div class="post">
  <div id="content"></div>

  <div class="byline"></div>
</div>

<ul id="next">
  <li><a id="more"></li>
  <li><a href="https://github.com/magnars/.emacs.d/">Check out my .emacs.d on github</a></li>
  <li><a href="http://twitter.com/emacsrocks">Follow me on twitter</a></li>
</ul>

<div id="comments">
  <div id="disqus_thread"></div>
  <input id="disqus_identifier" type="hidden">
  <input id="disqus_url" type="hidden">
  <script type="text/javascript">
      var disqus_shortname = 'whattheemacsd';
      var disqus_identifier = document.getElementById('disqus_identifier').value;
      var disqus_url = document.getElementById('disqus_url').value;
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
